.footer-holder{
	height: 47px;
	width: 100%;
	
	display: flex;
	//background: pink;
	border-top: 1px solid gray;
	font-size:small;

	ul{
		font: 10px;
		text-decoration: none;
		list-style-type: none;
		color:gray;
		display: flex;
		margin-left: 37px;
		li{
			margin-left: 14px;
			select{
				border-color: white;
				color: gray;
			}
		}
	}
}

#margin1 {
	    margin-left: 550px;
}

#padding{
	    padding-left: 0px;
}

#logo{
	margin-left: 30px;
}

