.footer-holder{
	height:370px;
	background: #175ea9;
	width:100%;
	margin-top: 330px;
	overflow: hidden;
	display: flex;
	ul{
		text-decoration: none;
		list-style-type: none;
		color: white;
		margin-top: 55px;
		//padding: 51px;
	}
}


